
html,body{

min-height: 100%;
font-family: 'Poppins','Numans', sans-serif;

}

.container{
height: 100%;
align-content: center;
}
    


.login_btn{
color: #FFF;
background-color: #26488F;
width: 100px;
font-weight: bold;
}
    
.login_btn:hover{
color: black;
background-color: white;
}

.icon{

    color: #26488F;
}

.imgfooter{
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.barra{

    background-color: #EEEEEE ;
    color: #26488F;
    font-weight: bold;
}

.afooter{

    font-size: 14px;
    color: #FFF;
}

.afooter:hover{

    color: #FFF;
}

.parrafo{

    position: absolute !important; 
    right: 0 !important;
    bottom: 10%;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
}

.carousel-control-prev-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%26488F' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); } 
.carousel-control-next-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%26488F' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); } 


footer{
    background-color: #26488F;
    color: #FFF;
}

.page-link{

    border: none !important;
    border-radius: 5px !important;
}

hr{
    height:4px;
    border-width:0;
    color:gray;
    background-color: #26488F;
    text-align: left;
    margin-left: 0;
    width: 10%;
    margin-top: 0px!important;
     margin-bottom: 5px!important;
}


/* table */

table {
    border-collapse: separate;
    border-spacing: 0 .5rem;
    width: 100% !important;
    font-size: 14px;
    
  }
  
  table thead th {
    border: 0 !important;
    font-size: 14px;
  }
  
  table tbody tr {
    background-color: var(--light);
  }
  
  table tbody td {
    border-top: 0 !important;
    line-height: 1.7;
  }


  .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #E4E8F3 !important;
 }

 .btn-acciones{
    background: transparent !important;
    border: none !important;
    /* font-size:0 !important; */
  }

  /* Proceso */

  .circulo {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #D6DBE5;

}
.circulo_activo{
   width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
   background-color: #3E578B;
}
.progress{
   width: 70px;
}
div.pro2{
   border-radius: 0px!important;
   
   /*background-color: #3E578B;*/

}

.separador{
   width: 60px;
}
.barracentral{
   display: flex;justify-content: center;align-items: center;
}
.barrasuperior{
   display: flex;justify-content: center;align-items: center;
   margin-bottom: 15px;
}
.barrainferior{
   display: flex;justify-content: center;align-items: center;
   margin-top: 15px;
}
.rombo {
    width: 30px; 
    height: 30px; 
    border: 1px solid #555; 
    background: #428bca;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icono {
   width: 30px;
   height: 30px;
   color: #b4b4b4;
   font-size: 20px;
}
.icono_activo {
   width: 30px;
   height: 30px;
   color: #26488F;
   font-size: 20px;
}

/* login nuevo */
 @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
 .login-block{
 float:left;
 width:100%;
 padding : 50px 0;
 }
 .banner-sec{
    background:url('../img/login.jpeg')  no-repeat left bottom; 
    background-size:cover; 
    min-height:500px; 
    border-radius: 0 10px 10px 0;
     padding:0;
    }
 .container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
 .carousel-inner{border-radius:0 10px 10px 0;}
 .carousel-caption{text-align:left; left:5%;}
 .login-sec{padding: 50px 30px; position:relative;}
 .login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
 .login-sec .copy-text i{color:#FEB58A;}
 .login-sec .copy-text a{color:#E36262;}
 .login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
 .login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
 .btn-login{background: #DE6262; color:#fff; font-weight:600;}
 .banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
 .banner-text h2{color:#fff; font-weight:600;}
 .banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
 .banner-text p{color:#fff;}